:root {
    --white: #fff;
    --primary: #f59e0b;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: radial-gradient(#000000ea, #00000081), url("./bg-clima.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--white);
    font-size: 2rem;
}
